<main>

  <div class="emojies">
    <ul>
      <% @emojis.each do |emoji| %>
        <li>
          <span>
            <%= emoji.icon %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

</main>