@import "variables"
*
  box-sizing: border-box
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

body, html
  font-family: $proxima
  font-size: 100%!important
  margin: 0
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  font-feature-settings: "pnum"
  font-variant-numeric: proportional-nums
  letter-spacing: .7px

h1, h2, h3, h4, h5, h6, span, button, a, input
  font-family: $proxima
  font-weight: normal
  color: $black-color
h1.special
  font-size: $font-size-h1-special
h1
  font-size: $font-size-h1
h2
  font-size: $font-size-h2
h3
  font-size: $font-size-h3
h4
  font-size: $font-size-h4
h5
  font-size: $font-size-h5
h6
  font-size: $font-size-h6


.emojies
  ul
    max-width: 720px
    margin: 120px auto
    width: 100%
    display: flex
    flex-wrap: wrap
    li
      width: 33%
      text-align: center
      margin-bottom: 30px
      span
        font-size: $font-size-h1

