@import "variables"
*
  box-sizing: border-box
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

body, html
  font-family: $proxima
  font-size: 100%!important
  margin: 0
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  font-feature-settings: "pnum"
  font-variant-numeric: proportional-nums
  letter-spacing: .7px

h1, h2, h3, h4, h5, h6, span, button, a, input
  font-family: $proxima
  font-weight: normal
  color: $black-color
h1.special
  font-size: $font-size-h1-special
h1
  font-size: $font-size-h1
h2
  font-size: $font-size-h2
h3
  font-size: $font-size-h3
h4
  font-size: $font-size-h4
h5
  font-size: $font-size-h5
h6
  font-size: $font-size-h6

p
  font-family: $calluna

a
  text-decoration: none

.btn
  border: 1px solid $details-color
  background: $white-color
  padding: 10px
  font-family: $proxima
  font-size: $font-size-button
  border-radius: $border-normal
  cursor: pointer
  display: -webkit-inline-box
  transition: .5s all
  &:hover
    transition: .5s all
    color: $black-color
    border: 1px solid $gray-color

.btn_green
  border: 1px solid $green-color
  color: $green-color
  transition: .5s all
  &:hover
    color: $white-color
    background: $green-color
    transition: .5s all

.btn_facebook
  transition: .5s all
  color: $gray-color
  i
    margin-right: 5px
  &:hover
    color: $gray-hover
    border: 1px solid $gray-color
    transition: .5s all

.text_green, .active_nav
  color: $green-color

.active_menu
  display: block!important

.call_to_action_button
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  background: 0 0
  border: none
  cursor: pointer
  border-radius: 4px
  text-align: center
  font-family: $proxima
  font-size: $font-size-button
  text-transform: uppercase
  text-decoration: none
  padding: 19px 40px 20px

.base_length
  max-width: 1200px
  margin: auto
  width: 100%


.container
  @extend .base_length

.intro
  h2
    font-weight: $bold
    font-size: $font-size-h2
  p
    margin-top: 22px
    font-size: $font-size-h4
    line-height: $font-size-h4 * 1.5
    color: $gray-color
    padding: 0 20px

nav, footer
  a
    font-size: $font-size-nav
    color: $gray-color
    transition: .5s color
    &:hover
      transition: .5s color
      color: $gray-hover
  .navigation
    .primary_nav_full
      border-bottom: 1px solid $details-color
      padding: 15px
      ul.primary_nav
        @extend .base_length
        display: flex
        flex-wrap: wrap
        align-items: center
        li
          width: 33%
          a
        .menu_main_nav
          a
            margin-right: 15px
          #nav_search
            font-size: $font-size-h5
        li.logo
          text-align: center
          display: flex
          align-items: center
          position: relative
          height: 70px
          &:hover .slide_in_logo
            transition: .5s
            right: 80px
          a
            margin: auto
          svg.static_logo
            width: 160px
            background: $white-color
            z-index: 999
            padding: 3px

        li.call_to_action
          text-align: right
          a
            margin-left: 15px
    .dropdown_nav_full
      border-bottom: 1px solid $details-color
      display: none
      ul.dropdown_nav
        @extend .base_length
        display: flex
        a
          text-align: center
          flex-grow: 1
          flex-basis: 0
          padding: 30px 0
          text-transform: uppercase
          position: relative
          border-bottom: 1px solid $transparent
          &:hover
            border-bottom: 1px solid $green-color
            color: $green-color

    #dropdown_search
      input
        width: 100%
        font-size: $font-size-h2
        border: none
        padding: 15px 0 16px
        outline: none
        font-weight: $light
        &::-webkit-input-placeholder
          color: $gray-color
section
  .hero_section
    display: flex
    flex-wrap: wrap
    .hero
      width: 50%
    .hero_content
      padding-right: 50px
      form
        margin-top: 30px
        padding: 0 100px 0 0
        input
          outline: none
          width: 100%
          padding: 10px 15px
          font-size: $font-size-h5
          margin-bottom: 5px
          border-radius: $border-normal
          border: 1px solid $details-color
          &::-webkit-input-placeholder
            color: $gray-color
        .buttons
          margin-top: 10px
        .register
          color: $gray-color
          margin-top: 15px
          display: block
          font-size: $font-size-button
          font-style: italic
          a
            color: $green-color
      h1
        margin-top: 100px
        font-size: $font-size-h1-special * 0.9
        line-height: $font-size-h1-special
        font-weight: $bold
      p
        margin-top: 22px
        font-size: $font-size-h3
        line-height: $font-size-h3 * 1.5
        color: $gray-color


  .hero_image
    height: 550px
    background: image_url("water_camera.png")
    background-position: center
    background-size: cover
    margin: 50px 0


.work_section
  padding: 50px 0
  .intro
    max-width: 550px
    margin: auto
    text-align: center
    h2
    p
    a
      margin-top: 20px
  .list
    margin-top: 50px
    ul
      display: flex
      .list_item
        width: calc(33.3333% - 30px)
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2)
        margin: 10px
        border-radius: $border-normal
        position: relative
        height: 400px
        transition: .5s all
        &:hover
          transition: .5s all
          transform: scale(1.04)
        .list_item_content
          padding: 25px
          span
            text-transform: uppercase
            font-size: $font-size-button
            color: $gray-color
            display: block
            margin-bottom: 15px
          a
            h3
              font-family: $calluna
              font-size: $font-size-h4
              line-height: $font-size-h4 * 1.2
              margin-bottom: 10px
          a.read_more
            color: $gray-color
        .list_item_image
          height: 220px
          width: 100%
          position: absolute
          bottom: 0
          img
            border-radius: 0 0 3px 3px
            height: 220px
            width: 100%
            object-fit: cover
            object-position: top


.movie_container
  margin: 50px 0
  .movie_section
    width: 100%
    height: 420px
    position: relative
    .playvideo
      position: absolute
      bottom: 10px
      left: 10px
      display: flex
      align-items: center
      cursor: pointer
      svg
        width: 65px
        padding: 10px
      h4
        color: $white-color
        margin-left: 5px
        font-weight: bold
        font-size: $font-size-h5
        display: block
    .movie_section_bg
      width: 100%
      height: 420px
      position: absolute
      top: 0
      left: 0
      background: linear-gradient(0deg, black, transparent 85%)
    img
      height: 420px
      width: 100%
      object-fit: cover
      object-position: top
  .movie_popup
    width: 100%
    height: 100vh
    background: $white-color
    position: fixed
    top: 0
    left: 0
    display: none
    text-align: center
    .movie_popup_video
      display: flex
      width: 100%
      text-align: center
      height: 100vh
      align-items: center
      padding-bottom: 50px
      iframe
        margin: auto
    #close_movie_popup
      position: fixed
      top: 20px
      left: 35px
      font-size: $font-size-h1
      color: $gray-color
      cursor: pointer


footer
  nav
    .navigation
      .primary_nav_full
        border-bottom: 0
        border-top: 1px solid $details-color
