<footer>
  <nav>
    <div class="navigation">
      <div class="primary_nav_full">
        <ul class="primary_nav footer_navigation">
          <li class="menu_main_nav">
            <a href="#" class="social_media">
              <i class="icon ion-social-facebook"></i>
            </a>
            <a href="#" class="social_media">
              <i class="icon ion-social-twitter"></i>
            </a>
            <a href="#" class="social_media">
              <i class="icon ion-social-instagram-outline"></i>
            </a>
            <a href="#" class="social_media">
              <i class="icon ion-social-dribbble-outline"></i>
            </a>
          </li>
          <li class="logo">
            <a href="/">
              <svg version="1.1" id="Lager_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              	 viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve">
              <style type="text/css">
              	.circle_svg{fill:none;stroke:#333333;stroke-width:15;stroke-miterlimit:10;}
              	.circle_svg_1{fill:#333333;}
              </style>
              <circle class="circle_svg" cx="504.1" cy="494.9" r="437.7"/>
              <g><path class="circle_svg_1" d="M499.6,298.2c32.8,0,49.4,16.1,78.6,16.1c10.4,0,15.6-3.1,19.3-8.3c1.6-2.1,2.1-3.1,3.6-3.1
              		c1.6,0,2.1,1,2.1,3.1v110.8c0,2.1-0.5,3.1-2.6,3.1c-2.1,0-2.6-1-2.6-3.1c-5.2-76-48.4-113.4-98.3-113.4
              		c-39.5,0-66.6,20.3-66.6,58.8c0,33.8,14.6,59.3,86.9,94.2c74.9,35.9,106.1,72.3,106.1,121.8c0,63.5-52.6,113.4-122.8,113.4
              		c-43.2,0-68.2-18.7-93.7-18.7c-10.9,0-17.2,3.6-21.9,9.4c-1.6,2.1-2.1,3.1-3.6,3.1c-1.6,0-2.1-1-2.1-3.1V551.1
              		c0-2.1,0.5-3.1,2.6-3.1c2.1,0,2.6,1,2.6,3.1c5.2,82.7,51.5,135.3,116.6,135.3c55.2,0,85.3-28.6,85.3-72.8
              		c0-40.6-19.8-62.4-98.9-100.9c-71.8-34.9-94.2-72.3-94.2-118.6C396.1,341.4,436.2,298.2,499.6,298.2z"/></g>
              </svg>
            </a>
          </li>
          <li class="call_to_action">
            <a href="#" class="signin">
              Logga in
            </a>
            <a href="#" class="signup btn btn_green">
              Bli medlem
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
