<a href="Javascript:void(0)" class="country" id="nav_country">
  <i class="icon ion-earth"></i>
</a>
<a href="Javascript:void(0)" class="search" id="nav_search">
  <i class="icon ion-ios-search-strong"></i>
</a>
<a href="Javascript:void(0)" class="work" id="nav_work">
  Jobb
</a>
<a href="Javascript:void(0)" class="service" id="nav_service">
  Tjänster
</a>
<a href="Javascript:void(0)" class="blog" id="nav_blog">
  Blogg
</a>
